@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.hidden {
    visibility: hidden;
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

li, ul, a {
    text-decoration: none;
    list-style: none;
}

html, body, .wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 60px;
    transition: all 300ms ease;
    position: absolute;

    &--container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;

        .top {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            position: relative;
            .phoneMenu {
                position: absolute;
                width: 100%;
                height: 300px;
                background: white;
                color: black;
                transform: translate(-50%, -50%);
                left:1000%;
                top: 350%;
                transition: 500ms ease;
                display: none;
                flex-direction: column;
                padding: 0 10px;

                ul {
                    li {
                        font-weight: 600;
                        margin: 12px 0;
                    }
                }
                small {
                    margin: 12px 0;
                }
                select {
                    width: max-content;
                    border-radius: 0;
                    border: 1px solid black;
                    padding: 6px;
                    option {
                        color: black;
                    }
                }

                &.active {
                    left: 50%;
                }
            }

            .start {
                .logo {
                    height: 100%;
                    width: 80px;
                    display: flex;
                    svg {
                        display: flex;
                    }
                }
            }

            .end {
                height: 100%;
                align-items: center;
                text-align: center;
                display: flex;
                position: relative;
                .links {
                    display: flex;
                    .link {
                        margin: 0 10px;
                        font-weight: 600;
                        color: #fff;
                        font-size: 16px;
                        &:hover {
                            cursor: pointer;
                            color: #aaa;
                        }
                    }
                }
                .phone {
                    background: transparent;
                    border: 0;
                    color: white;
                    cursor:text;
                    display: flex;
                    font-size: 16px;
                    margin-left: 12px;
                    width: 200px;
                    text-align: center;
                }
                .lang {
                    background: transparent;
                    border: 0;
                    font-weight: 600;
                    color: white;
                    margin-right: 10px;

                    option {
                        color: black;
                        background: transparent;
                    }
                }
                .burger-menu {
                    height: 100%;
                    width: 60px;
                    font-size: 24px;
                    background: transparent;
                    color: white;
                    border: 0;
                    padding: 6px;
                    border-radius: 999px;
                    display: none;
                    position: relative;
                    &:hover {
                        cursor: pointer;
                        background: #aaaaaa50;
                    }
                }
            }
        }
    }
}

.container {
    height: 840px;
    min-height: 50vh;
    max-height: 840px;
    background: rgb(255, 119, 119);
    align-items: center;
    &--holder {
        height: 100%;
        width: 1200px;
        display: flex;
        margin: 0 auto;
        max-width: 1200px;
        align-items: center;

        .t {
            color: white;
            .head, .body {
                margin-bottom: 10px;
            }
            .body {
                span {
                    color: #ECB42E;
                }
            }
            .foot {
                h4 {
                    margin-bottom: 10px;
                }
                button {
                    background: #ECB42E;
                    border: 1px solid #ECB42E;
                    color: white;
                    padding: 12px 20px;
                    border-radius: 6px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: 300ms ease;

                    &:hover {
                        background: #f5c149;
                        border: 1px solid #f5c149;
                        cursor: pointer;
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
}
.buy {
    margin: 80px 0;
    width: 100%;
    .container {
        background: none;
        max-width: 1200px;
        margin: 0 auto;
        .head {
            div.selected {
                background: #383965;
            }
            display: flex;
            label {
                text-transform: uppercase;
                cursor: pointer;
                width: 100%;
                height: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 14px;
                font-weight: 600;
            }
            .buyDiv {
                width: 90px;
                height: 40px;
                background: #595B9D;
                color: white;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-radius: 4px 0 0 0;
                display: flex;
                cursor: pointer;
                input {
                   display: none;
                }
            }
            .rentDiv {
                width: 90px;
                height: 40px;
                background: #595B9D;
                color: white;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-radius: 0 4px 0 0;
                display: flex;
                cursor: pointer;
                input {
                  display: none;
                }
            }
        }
        .bottom {
            min-width: 200px;
            width: 60;
            height: 100px;
            .fromBuyDiv {
                background: #383965;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                display: flex;
                color: white;
                border-radius: 0 4px 4px 4px;
                .complex {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;
                }
                .kvartira {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;
                    .selection {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        align-items: center;
                        width: 250px;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: start;
                        text-align: start;
                        font-size: 14px;

                        div {
                            width: 50%;
                            margin-bottom: 5px;
                        }

                        input[type="checkbox"] {
                            position: relative;
                            margin-right: 5px;
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                left: 50%;
                                background-color:#C7C7C7;
                                border-radius: 3px;
                                transform: translate(-50%, -50%);
                            }
                            &:checked:before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color:#1E80EF;
                            }
                        }
                    }
                }
                .search {
                    button {
                        background: #ECB42E;
                        border: 1px solid #ECB42E;
                        padding: 6px 12px;
                        font-weight: 500;
                        color: white;
                        font-size: 16px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        max-height: 650px;
        background: green;

        &--container {
            .top {
                .phoneMenu {
                    display: none;
                }
                .end {
                    .links {
                        .link {
                            font-size: 12px;
                        }
                    }
                    .phone {
                        font-size: 14px;
                        width: 120px;
                        margin-left: 0;
                    }
                    .lang {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 567px) {
    .header {
        max-height: 500px;
        background: blue;

        &--container {
            .top {
                .phoneMenu {
                    display: flex;
                }
                .end {
                    .links {
                        display: none;
                    }
                    .phone {
                        display: none;
                    }
                    .lang {
                        display: none;
                    }
                    .burger-menu {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}